<!-- movie -->
<div class="row hide-for-small" >
    <div class="large-12 large-centered columns rpi-video">
      <div class="rpi-video-play">
        <a href=""><img src="/img/movie/play.png"/> </a>
      </div>
   </div>
</div>