<div class="row">
	<div class="large-8 large-centered columns">
<%= form_tag survey_instance_index_path do |f| %>
  <% (1..70).each do |i| %>
    <input type="hidden" name="questions[<%= i %>]" id="question<%= i %>" value=""/>
  <% end %>
<% end %>
<div class="row">
	<div class="small-12 small-centered columns">
	<h3 id="question"></h3>
		<div class="radius button answer-button" id="answer1" data-category="" style="width:100%"></div><br/>
		<div class="radius button answer-button" id="answer2" data-category="" style="width:100%"></div>
	</div>
</div>
</div>
</div>