<div class="row">
      <!-- Left Arrow -->
    <div class="floating-left-arrow hide-for-small">
        <a href="#"><img src="/img/profile/left-arrow.png" /></a>
    </div>
    <!-- End Left Arrow -->

    <!-- Right Arrow -->
    <div class="floating-right-arrow hide-for-small">
        <a href="#"><img src="/img/profile/right-arrow.png" /></a>
    </div>
    <!-- End Right Arrow -->
  <div class="large-4 large-centered columns" style="margin-bottom: 100px">
    <img src='/img/types_400/<%= "#{ @personality_type.name }.png" %>' />
  </div>
</div>
