<% title "RPI | #{@personality_type.title}" %>

<div  style="background-color: #EAEEEE; border-top:2px solid #FFF; border-bottom: 1px solid #FFF; height:137px; margin-bottom:50px">

    <!-- Find Your RPI Button -->
    <div class="floating-personality-title-background hide-for-small">
        <img src="/img/profile/title-banner.png" />
    </div>
    <!-- End Button -->

        <!-- Find Your RPI Button -->
    <div class="floating-personality-title hide-for-small">
        <span><%= @personality_type.title %></span>
    </div>
    <!-- End Button -->

    <!-- Find Your RPI Button -->
    <div class="floating-find-your-rpi">
        <a href="/take_survey"><img src="/img/profile/find-your-rpi.png" /></a>
    </div>
    <!-- End Button -->
    <div class="row">
      <div class="large-12 large-centered columns text-center fixed-personality-title">
        <span><%= @personality_type.title %></span>
      </div>
    </div>
</div>

<div class="row">
	<div class="large-8 large-centered columns">
		<span class="public_description"><%= @personality_type.public_description.html_safe %></span>
	</div>
</div><br/>
<% if survey_user || current_user %>
  <div class="row">
    <div class="large-8 large-centered columns">
      <%= @personality_type.private_description.html_safe %><hr/>
    </div>
  </div><br/>
<% end %>

<div class="row">
	<div class="large-8 large-centered columns text-center social">
		<a  href="#" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
  <img src="/img/profile/facebook-share.png" /></a>
  <a href="https://twitter.com/share"><img src="/img/profile/twitter-share.png" /></a>
	</div>
</div><br />