<div class="row">
	<div class="large-10 large-centered columns text-center">
		<h4>Personality Type Distribution</h4>
		<canvas id="personalityDistribution" width="800px" height="400"></canvas>
	</div>
</div>

<script src="/javascripts/Chart.js"></script>
<script>
var data = {
	labels : <%= @report.indicator_totals.keys.to_json.html_safe %>,
	datasets : [

		{
			fillColor : "#69D2E7",
			strokeColor : "#F38630",
			data : <%= @report.indicator_totals.values.to_json.html_safe %>
		}
	]
}
var options = null;
var ctx = document.getElementById("personalityDistribution").getContext("2d");
new Chart(ctx).Bar(data,options);
</script>