<br/>
<div id="layout_footer"></div>
</div> <!-- layout -->

<div id="footer" class="hide-for-small" style="background-color: #222"><br/>
  <hr style="color: #333"/>
  <!-- Footer Large -->
  <footer class="row hide-for-small">
    <div class="large-12 columns">
      <div class="row" style="color: #666">
        <div class="large-8 columns">
          <p>Copyright &copy; 2004-2013 Bigger gains International,LLC All Rights Reserved</p>
        </div>
        <div class="large-4 columns">
          <ul class="inline-list right">
            <li><a href="http://www.facebook.com/kenn.sullivan"><i class="social foundicon-facebook" style="font-size: 1.5em;"></i></a></li>
            <li><a href="http://twitter.com/kennsullivan"><i class="social foundicon-twitter" style="font-size: 1.5em;"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/kenn-sullivan/2/191/996"><i class="social foundicon-linkedin" style="font-size: 1.5em;"></i></a></li>
            <li><a href="http://www.youtube.com/watch?v=EkMXqdjkxjM"><i class="social foundicon-youtube" style="font-size: 1.5em;"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>