<!-- header and nav -->
<div class="row hide-for-small" style="margin-bottom:20px">
  <div class="large-4 columns" style="margin-top:80px" >
    <a href="/take_survey"><img src="/img/header/get_started.png" /></a>
  </div>
  <div class="large-4 columns" style="margin-top:50px">
    <a href="/"><img src="/img/header/rpi_logo.png" /></a>
  </div>
  <div class="large-4 columns" style="margin-top:80px"  >
    <ul class="inline-list right">
      <li><a href="#"><img src="/img/header/facebook.png"/></a></li>
      <li><a href="#"><img src="/img/header/twitter.png"/></a></li>
      <li><a href="#"><img src="/img/header/linkedin.png"/></a></li>
      <li><a href="#"><img src="/img/header/youtube.png"/></a></li>
    </ul>
  </div>
</div>