<!-- Large header and nav -->
<div class="row hide-for-small" style="margin-bottom:20px">
  <div class="large-4 columns top-nav">
    <div class="inline-list left">
      <li><a href="/take_survey"><img src="/img/header/get_started.png" /></a></li>
    </div>
  </div>
  <div class="large-4 columns top-logo">
    <a href="/"><img src="/img/header/rpi_logo.png" /></a>
  </div>
  <div class="large-4 columns top-nav">
    <ul class="inline-list right">
      <li><a href="https://www.facebook.com/BiggerGains" target="_blank" ><img src="/img/header/facebook.png"/></a></li>
      <li><a href="http://twitter.com/kennsullivan" target="_blank" ><img src="/img/header/twitter.png"/></a></li>
      <li><a href="http://www.linkedin.com/pub/kenn-sullivan/2/191/996" target="_blank" ><img src="/img/header/linkedin.png"/></a></li>
      <li><a href="http://www.youtube.com/user/BiggerGainsTV" target="_blank" ><img src="/img/header/youtube.png"/></a></li>
    </ul>
  </div>
</div>
<!-- End Large header -->

<!-- Small Header -->
<div class="row show-for-small">
  <div class="large-4 large-centered text-center columns top-logo">
    <a href="/"><img src="/img/header/rpi_logo.png" /></a>
  </div>
</div>
<!-- End Small Header -->